.size-h1 {
    font-size: 40px;
}

.d-none {
    display: none;
}

.br {
    border-radius: 16px;
}

.m-top-30 {
    margin-top: 30px;
}

.box-s {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.display-fcc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-design {
    height: 72px;
    border-width: 0px;
    text-indent: 14px;
    margin-right: 14px;
    font-size: 16px;
}

.select-design {
    width: 16vh;
    font-size: 16px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23000000%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: right 14px center;
    background-size: 8px;
    padding-right: 28px;

}

.btn-design {
    background-color: white;
    width: 16vh;
    height: 72px;
    border-width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 19px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-design:hover {
    background-color: #e0e0e0;
}


.btn-icon {
    height: 48px;
}


.type.grass {
    background-color: #78c850;
}

.type.fire {
    background-color: #f08030;
}

.type.water {
    background-color: #6890f0;
}

.type.electric {
    background-color: #f8d030;
}

.type.normal {
    background-color: #a8a878;
}

.type.fighting {
    background-color: #c03028;
}

.type.flying {
    background-color: #a890f0;
}

.type.poison {
    background-color: #a040a0;
}

.type.ground {
    background-color: #e0c068;
}

.type.rock {
    background-color: #b8a038;
}

.type.bug {
    background-color: #a8b820;
}

.type.ghost {
    background-color: #705898;
}

.type.steel {
    background-color: #b8b8d0;
}

.type.psychic {
    background-color: #f85888;
}

.type.ice {
    background-color: #98d8d8;
}

.type.dragon {
    background-color: #7038f8;
}

.type.dark {
    background-color: #705848;
}

.type.fairy {
    background-color: #ee99ac;
}

.grass-bg {
    background-color: rgba(120, 200, 80, 0.7);
}

.fire-bg {
    background-color: rgba(240, 128, 48, 0.7);
}

.water-bg {
    background-color: rgba(104, 144, 240, 0.7);
}

.electric-bg {
    background-color: rgba(248, 208, 48, 0.7);
}

.normal-bg {
    background-color: rgba(168, 168, 120, 0.7);
}

.fighting-bg {
    background-color: rgba(192, 48, 40, 0.7);
}

.flying-bg {
    background-color: rgba(168, 144, 240, 0.7);
}

.poison-bg {
    background-color: rgba(160, 64, 160, 0.7);
}

.ground-bg {
    background-color: rgba(224, 192, 104, 0.7);
}

.rock-bg {
    background-color: rgba(184, 160, 56, 0.7);
}

.bug-bg {
    background-color: rgba(168, 184, 32, 0.7);
}

.ghost-bg {
    background-color: rgba(112, 88, 152, 0.7);
}

.steel-bg {
    background-color: rgba(184, 184, 208, 0.7);
}

.psychic-bg {
    background-color: rgba(248, 88, 136, 0.7);
}

.ice-bg {
    background-color: rgba(152, 216, 216, 0.7);
}

.dragon-bg {
    background-color: rgba(112, 56, 248, 0.7);
}

.dark-bg {
    background-color: rgba(112, 88, 72, 0.7);
}

.fairy-bg {
    background-color: rgba(238, 153, 172, 0.7);
}